.container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;
}

.container h3 {
  font-size: 16px;
  font-weight: lighter;
  width: 200px;
}

.container button {
  border-radius: 5px;
  text-decoration: underline;
  font-size: 14px;
}

.container button:hover {
  opacity: 0.5;
}
