.button {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 20px 0 10px 30px;
  font-size: 22px;
  background-color: var(--background-color-500);
  border-bottom: 0.1px solid var(--border-color-300);
  z-index: 99;
}

@media (min-width: 885px) {
  .button {
    position: sticky;
    position: -webkit-sticky;
    top: 48px;
    max-height: 50px;
    width: auto;
    margin: 40px;
    padding: 0;
    background-color: var(--background-color-500);
    border: none;
  }
}
