.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 87%;
  background-color: var(--background-color-600);
  height: 100vh;
  padding: 0px 30px;
  z-index: 199;
}

.nondisplay {
  display: none;
}

.undisplayed {
  position: fixed;
  width: 100%;
  padding: 0px 10px;
  background-color: var(--background-color-500);
}

.undisplayed h3 {
  display: none;
}

@media (min-width: 885px) {
  .container {
    width: 24%;
    height: 95vh;
    margin: 20px;
    border-radius: 10px;
    position: relative;
  }

  .undisplayed {
    position: relative;
    width: auto;
    margin: 20px;
    background-color: var(--background-color-500);
  }
}
