.App {
  margin: 0;
  padding: 0;
  font-size: large;
  color: rgb(27, 27, 27);
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  /* flex-grow: 0.4; */
  margin: 60px 20px;
}

@media (min-width: 885px) {
  .App {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 885px) {
  main {
    margin: 20px;
    flex-grow: 0.95;
  }
}
