.container {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border-color-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 80px;
}

.paragraph {
  margin-top: 20px;
}

.paragraph a {
  text-decoration: underline;
}

@media (min-width: 885px) {
  .container {
    height: 74vh;
  }
}
